body {
    font-family: Century Gothic;
    text-align: center;
}

h1 {
    color: purple;
}

p {
    color: black;

}

button {
    color: black;
    background-color: purple;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
    border-style: solid;

}

button:hover {
    background-color:#545454;
}

button:active {
    background-color:white;
}